*.apk
*.iml
bin/
gen/
SmartFridge/.gradle
SmartFridge/local.properties
SmartFridge/.idea/workspace.xml
SmartFridge/.idea/libraries
SmartFridge/.DS_Store
SmartFridge/build
SmartFridge/*/build
SmartFridge/.idea/
SmartFridge/captures
SmartFridge/.externalNativeBuild
SmartFridge/app/.bugtags.log
SmartFridge/bugtags.log